[Desktop Entry]
Name = Network Settings
Keywords = Settings;Control Center;Control Panel;System
Icon = networkmanager
Type = Application
Exec = gnome-control-center network

